node_modules/
dist/
.users_db.json
.agents/
.DS_Store
*.log
*.apk
serve-apk.cjs

# Flutter & Dart artifacts
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/build/
mobile/android/.gradle/
mobile/android/local.properties
mobile/ios/Flutter/Generated.xcconfig
mobile/ios/Flutter/flutter_export_environment.sh
mobile/ios/Flutter/ephemeral/
mobile/ios/Pods/
mobile/ios/.symlinks/
mobile/ios/Flutter/Flutter.framework
mobile/ios/Flutter/Flutter.podspec

